.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.appFooter{
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}